<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.104.2" targetFramework="net481" />
  <package id="ClosedXML.Parser" version="1.2.0" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net481" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net481" />
  <package id="IndexRange" version="1.0.3" targetFramework="net481" />
  <package id="linq2db" version="5.4.1" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.4" targetFramework="net481" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net481" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net481" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net481" />
  <package id="RBush" version="4.0.0" targetFramework="net481" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net481" />
  <package id="SQLite" version="3.13.0" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net481" />
  <package id="System.CodeDom" version="9.0.5" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Data.SQLite" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net481" />
  <package id="System.Formats.Asn1" version="9.0.4" targetFramework="net481" />
  <package id="System.IO" version="4.3.0" targetFramework="net481" />
  <package id="System.Management" version="9.0.5" targetFramework="net481" />
  <package id="System.Memory" version="4.6.3" targetFramework="net481" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net481" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net481" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net481" />
  <package id="System.Security.Cryptography.Xml" version="9.0.4" targetFramework="net481" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net481" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net481" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net481" />
</packages>